.api-key-table th:nth-child(3),
.api-key-table td:nth-child(3) {
  text-align: left;
}

.api-key-table td .key:nth-child(1) {
  margin-bottom: 1rem;
}

.api-key-table .copy-text {
  color: var(--yellow-text);
  margin-left: auto;
  cursor: pointer;
}

.api-key-table .key {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.key input {
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.4rem;
}

.api-key-table .heading {
  min-width: 5rem;
}

.table-note {
  color: black;
  margin-top: 5%;
}

.table-note span {
  color: var(--gold-pop);
}
